[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
flask = "*"
torch = "*"
huggingface-hub = "*"
bitsandbytes = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
